@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility font-merriweather {
  font-family: "Merriweather", serif;
}

@utility hero-gradient {
  --tw-gradient-stops: var(--color-blue-700), var(--color-indigo-300),
    var(--color-blue-400);
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

@utility ring-primary {
  outline: none;
  @apply ring-2 dark:ring-offset-slate-800 ring-blue-500 transition;
}

h1,
h2,
h3,
h4,
h5,
h6,
.about {
  font-family: "Merriweather", serif;
}

:where(a[href], input):focus-visible {
  outline: none;
  @apply ring-primary;
}

.link {
  @apply text-blue-600 underline font-semibold transition-colors duration-150;
}

.link:hover {
  @apply text-blue-500;
}

.link:visited {
  @apply text-violet-700;
}

.link:visited:hover {
  @apply text-violet-500;
}

:root {
  --yummy: linear-gradient(
    140deg,
    whitesmoke,
    var(--color-blue-200) 20%,
    whitesmoke 50%,
    var(--color-indigo-200),
    whitesmoke
  );
}

.fancy-gradient {
  background: var(--yummy);
  background-size: 200% 200%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --yummy: linear-gradient(
      140deg,
      var(--color-slate-700),
      var(--color-slate-500) 20%,
      var(--color-slate-700) 50%
    );
  }
  .link {
    @apply text-blue-300;
  }

  .link:hover {
    @apply text-blue-400;
  }

  .link:visited {
    @apply text-violet-400;
  }
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*) {
    animation-duration: 0.001s;
  }
}
