---
import "../styles/global.css"
import Nav from "../lib/Nav.astro"
import Socials from "../lib/Socials.astro"
import Footer from "../lib/Footer.astro"
import Newsletter from "../lib/Newsletter.astro"

const { title, route } = Astro.props
---

<!doctype html>
<html class="dark:bg-slate-900 dark:text-slate-200" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <slot name="og" />
    <title>{title}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">

    {
      import.meta.env.PROD ? (
        <script is:inline defer src="/_vercel/insights/script.js" />
      ) : null
    }
  </head>

  <div class="px-10 mx-auto lg:max-w-screen-lg md:max-w-3xl sm:max-w-2xl">
    <Nav {route} />
    <slot />
  </div>

  <Footer>
    <div class="flex flex-col items-center gap-6 mb-12">
      <Newsletter />
      <Socials />
    </div>
  </Footer>


</html>
